table, th, td{
    border: 1px, solid;
    padding: 8px;
    margin-bottom: 20px;
    text-align: center;
}

table{
    border-spacing: 5px;
    width: 100%;
    font-family: Arial;

}

th{
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
}

table tr:nth-child(even){
    background-color: rgb(236, 193, 193);
}
table tr:nth-child(odd) {
    background-color: rgb(253, 214, 214);
}

caption{
    font-size: 20px;
    font-family: monospace;
    text-align: center;
}





.titulo{
    font-size: 70px;
    font-family: Barlow Condensed;
    color: crimson;

}



.foto{
    width: 5rem;
    height: 5rem;
    

}


table tr:hover {
    background-color:yellow;
}


ul {
    list-style-type: none;
  }


body{
    display: block;
}
